apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: microservices-dev

resources:
  - ../../base

patchesStrategicMerge:
  - patches/replicas.yaml

commonLabels:
  environment: dev

namePrefix: dev-

configMapGenerator:
  - name: app-config
    literals:
      - LOG_LEVEL=debug
      - ENVIRONMENT=development
